
/*
牛模式采集插件:http://niumos.com/(淘宝店：new-modle.taobao.com QQ：303441162)-begin
采集样式表
*/
div, input, th ,td, select{font-family:'微软雅黑';font-size: 12px;}
th,td{padding: 4px 0;}
th{text-align:right}
input, select{height: 29px;padding: 0 4px;vertical-align: middle;margin: 3px !important;}
input.button{ background:#06F; background-image:none;color: #fff;border: none;padding: 4px 10px;}
#caij_btns a{display:block;width:117px; height:35px; text-align:center;background:#FF8800;line-height:35px; font-size:16px; color:#FFFFFF;  color:#FFFFFF;text-decoration:none;}
#caij_btns a:hover{ text-decoration:none;background:#F00;}
.shuoming{  margin:5px 5px 20px 5px; overflow:hidden; background:#FFFFFF; padding:10px; border:1px solid #FF9900; color: #339933; }
.tab-div{width: 915px;}
.tbbg{background: #FFFDEA!important;border: 1px solid #B7EEF9!important;}
.albg{background: #FFEAEA!important;border: 1px solid #B7EEF9!important;}
.jdbg{background: #F1FFEA!important;border: 1px solid #B7EEF9!important;}
.wdbg{background: #CFFFFD!important;border: 1px solid #B7EEF9!important;}
#tabbody-div table{font-size: 12px;color: #139DB8;}
#tabbody-div{padding: 15px;}
td span{ line-height:30px;}
/*
牛模式采集插件:http://niumos.com/(淘宝店：new-modle.taobao.com QQ：303441162)-end
*/
