<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="backend" stopProcessing="false">
                    <match url="^(admin|seller|stores)/(.*)" />
                    <action type="Rewrite" url="backend/{R:1}/{R:2}" logRewrittenUrl="true" />
                </rule>
                <rule name="static" stopProcessing="true">
                    <match url="^(data|js|css|images|plugins|api|static|themes|html)/(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="backend/{R:1}/{R:2}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
