<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="idashu">
                    <match url="^(.*)" />
                    <conditions>
                        <add input="{HTTP_POST}" pattern="www.idashu.cc$" />
                    </conditions>
                    <action type="Rewrite" url="http://www.baidu.com/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
