<!-- $Id: brand_search.htm 2015-02-10 derek $ -->
<div style="float:left; height:36px;">
   <div style="margin: 3px 2px;float: left;"> <img src="https://img.alicdn.com/imgextra/i3/619666972/TB2cTVzfmiK.eBjSZFyXXaS4pXa-619666972.jpg" width="29" height="29" border="0" alt="点击搜索分类"  onclick="is_searchcat();"/></div>
  <div style=" display:none" id="div_cat"> 
     <input type="text" name="cat_name" size="10" style="min-width:inherit" />
    <input type="button" value="搜索分类" class="button" onclick="search_category()"/>
  </div>
</div>

<script language="JavaScript">
    function search_category()
    {
    	
        var cat_name = Utils.trim(document.forms['theForm'].elements['cat_name'].value);
		Ajax.call('{$shopfile}.php?act=search_cat', "cat_name="+cat_name, searchcatResponse, "GET", "JSON");
        
    }
    function searchcatResponse(result)
    {
      if (result.error == 0)
      {
		document.forms[ "theForm" ].elements['cat_id'].innerHTML=result.content;
		document.forms[ "theForm" ].elements['cat_id'].style.border='1px solid #e31939';
      }

	}
	
	function is_searchcat()
	{	
		document.getElementById("div_cat").style.display = 'inline' ;
	}

</script>
