{include file="pageheader.htm"}
<link href="styles/nms_style.css" rel="stylesheet" type="text/css" />
<div class="tab-div">
  <div id="tabbody-div" class="tbbg" >
    <form enctype="multipart/form-data" action="shops.php?act=otherscolect" method="post" name="theForm" >
      <table width="90%" id="general-table" >
        <div class="shuoming"> 1、可输入要采集的商品关键词（如：女装）<br />
          2、可输入商品的链接（如：https://item.taobao.com/item.htm?id=19474502166）<br />
          3、如需指定特定条件的商品，可设置“卖家信用”等采集参数，输入采集商品的数量</div>
        <tr>
          <th width="150">
            采集关键词或商品链接：</th>
          <td><textarea style="display:none" name="keyword2" cols="80" rows="2" wrap="VIRTUAL"></textarea>
            <input type="text" value="{$user_setting.keyword}" class="textinput" name="keyword" size="40">
            <span>(填写你要采集商品的关键字，如：女装，或者输入商品链接。)</span> </td>
        </tr>
        <tr>
          <th align="right">数据排序：</th>
          <td><select name="sort_order">
              <option value="default" selected="selected">综合排序 </option>
              <option value="renqi-desc" >人气从高到低 </option>
              <option value="sale-desc">成交量从高到低 </option>
              <option value="credit-desc" >信用等级从高到低 </option>
              <option value="old_starts" >最新发布 </option>
              <option value="price-asc" >价格从低到高 </option>
              <option value="price-desc" >价格从高到低 </option>
            </select>
          </td>
        </tr>
        <tr>
          <th align="right">采集范围：</th>
          <td><select name="tmortb">
              <option value="all" selected="selected">不限 </option>
              <option value="mall">天猫 </option>
              <option value="all">淘宝 </option>
            </select>
          </td>
        </tr>
        <tr>
          <th align="right">价格范围：</th>
          <td><input type="text" value="0" class="textinput" name="price_begin" size="10">
            -
            <input type="text" value="10000" class="textinput" name="price_end" size="10">
            元 <span>&nbsp;(店铺正常销售价，不是打折价格。)</span> </td>
        </tr>
        <tr>
          <th align="right">采集数量：</th>
          <td><input type="text" value="10" class="textinput" name="conum" size="4">
          </td>
        </tr>
        <tr>
          <th align="right">采集评论：</th>
          <td><input name="checkbox" type="checkbox" value="1" />
            <span>&nbsp;(评论为10~50间的随机数)</span> </td>
        </tr>
        <tr>
          <th>产品分类：</th>
          <td><select name="cat_id" style="float:left">
              <option value="0">产品分类</option>
              
              {$cat_list}
            
            </select>
            {include file="nms_category_search.htm"}
            <span style="line-height:30px;">&nbsp;(默认为第一个分类)</span> </td>
        </tr>
 		{if $is_sup eq 'supplier'}
		<tr>
          <th>放到店内分类：</th>
          <td><select name="seller_cat_id">
              <option value="0">店内分类</option>
              {$seller_cat_list}
            
            </select>
            <span>&nbsp;(默认为第一个分类)</span> </td>
        </tr>
		{/if}
       <tr>
          <th>属性类型：</th>
          <td><select name="goods_type_id" style="float:left">
              
					    {foreach from=$goods_type_arr item=goods_type}
						
              <option value="{$goods_type.cat_id}" {if $goods_type_id eq $goods_type.cat_id} selected="selected"{/if}>{$goods_type.cat_id}-{$goods_type.cat_name}</option>
              
					    {/foreach}

					
            </select>
                        {include file="nms_attr_search.htm"}
            <span>&nbsp;(自动采集商品属性放入此类型中，默认：采集属性)</span> </td>
        </tr>
		{if $supplier_list and $is_sup neq 'supplier'}
		<tr>
          <th>分配入驻商：</th>
          <td>
		  <select name="supplier_id" id="supplier_id" onchange="changed_sup()">
			<option value="">请选择入驻商</option>
			{foreach name=sln from=$supplier_list item=sl}
			  <option value="{$sl.supplier_id}">{$sl.supplier_name}</option>
			{/foreach}
		  </select>
		  <select name="sup_cat_id" id="sup_cat_id">
              {$cat_list_sup}
            </select>
            <span>&nbsp;(默认为第一个分类)</span> </td>
        </tr>
		{/if}
        <tr class="act">
          <th>&nbsp;</th>
          <td><input name="itemlist" type="checkbox" value="1" {if $user_setting.itemlist} checked="checked" {/if}/>
            <font color="#FF0000">选择性采集</font></td>
        </tr>
        <tr class="act">
          <th>&nbsp;</th>
          <td><div id="caij_btns" style="width:100%;"> <a class="caiji" href="javascript:colltaobao();" >立即采集</a> </div></td>
        </tr>
      </table>
    </form>
  </div>
</div>
<script type="text/javascript">
function colltaobao()
{
 	document.getElementById('caij_btns').innerHTML = '正在采集：<img src="https://img.alicdn.com/imgextra/i1/619666972/TB2PCZjjVXXXXXxXpXXXXXXXXXX-619666972.gif" />';
	var targetForm = document.forms[ "theForm" ];
	targetForm.submit();
}
function changed_sup()
{
	supplier_id=document.forms['theForm'].elements['supplier_id'].value;
	if(supplier_id=='')
	{
		alert('请选择入驻商！');
		return false;
	}
	Ajax.call('shops.php?is_ajax=1&act=changed_sup', "supplier_id="+supplier_id, changed_supResponse, "GET", "JSON");
}
function changed_supResponse(result)
{
	  document.forms[ "theForm" ].elements['sup_cat_id'].innerHTML=result.content.cat_list_sup
}
</script>
{include file="pagefooter.htm"} 